# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
.env
.env.*

# Flask
instance/
*.db
*.sqlite3

# Node (React)
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific
.DS_Store
Thumbs.db

# VSCode
.vscode/
