option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: sentiment_backend/src/main.py
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current/sentiment_backend/src
    # Add any other environment variables your application needs
    # For example, for your model loading:
    # MODEL_PATH: /var/app/current/sentiment_backend/src/models/

container_commands:
  01_install_nltk_data:
    command: "python -m nltk.downloader punkt stopwords"
    leader_only: true

